<template>
    <section class="amusments">
        <div class="content">
            <img src="@/assets/amusments.png" alt="" />
            <div class="hobbies">
                <h4 class="hobbies__title">Amusments</h4>
                <p>
                    I am proficient in Front-end frameworks, WordPress, ReactJS, Adobe Photoshop, Adobe XD, and Abode illustrator. I’ve spent the past 5+ years working across different areas of
                    digital design; front-end development,
                </p>
                <h5 class="hobbies__subtitle">Hobbies</h5>
                <div class="pills">
                    <span>Reading</span><span>Writing</span><span>Painting</span><span>Drawing</span><span>Hiking</span><span>Photography</span><span>Birdwatching</span><span>Knitting</span
                    ><span>Pottery</span>
                </div>
                <h5 class="hobbies__subtitle">Skills</h5>
                <div class="pills">
                    <span>Reading</span><span>Writing</span><span>Painting</span><span>Drawing</span><span>Hiking</span><span>Photography</span><span>Birdwatching</span><span>Knitting</span
                    ><span>Pottery</span>
                </div>
            </div>
        </div>
    </section>
</template>
