<template>
    <section class="expiriance">
        <video src="@/assets/videos/background.mp4" loading="lazy" muted autoplay loop></video>
        <div class="content">
            <h2 class="subtitle subtitle--center subtitle--reverse">My Experience</h2>
            <div class="timeline">
                <div class="timeline--line">
                    <div class="arrow">
                        <span class="line"></span>
                        <span class="line"></span>
                    </div>
                </div>
                <div class="workplace">
                    <div class="dot"></div>
                    <div class="workplace__content">
                        <h3 class="workplace__title">Generation Marketing Inc</h3>
                        <p class="workplace__subtitle"><span>Frontend Developer</span> | 2021-01 - present</p>
                        <div class="workplace__description">
                            <ul>
                                <li>Creating a front-end in an application such as an administration panel.</li>
                                <li>Creating a drag and drop application for creating forms from ready-made editable elements.</li>
                                <li>Optimizing pages in terms of loading speed in order to reduce the cost of positioning in Google.</li>
                                <li>Creating new and developing existing websites and applications</li>
                                <li>Implementation of user interfaces based on graphic designs</li>
                                <li>Debugging and refreshing existing pages. Code refactor including new technologies</li>
                                <li>Refreshing pages for compliance with WCAG standards</li>
                                <li>Maintaining constant contact with the client</li>
                            </ul>
                            <h4>Skills</h4>
                            <div class="skills">
                                <span>HTML</span><span>CSS / SCSS</span><span>Javascript</span><span>Vue.js</span><span>PHP / Laravel</span><span>REST API</span><span>Vite</span><span>Webpack</span
                                ><span>Git</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="workplace">
                    <div class="dot"></div>
                    <div class="workplace__content">
                        <h3 class="workplace__title">BitBag</h3>
                        <p class="workplace__subtitle"><span>Frontend Developer</span> | 2021-06 - 2021-09</p>
                        <div class="workplace__description">
                            <ul>
                                <li>Working on projects in the E-commerce industry using the Sylius eCommerce Platform</li>
                                <li>Creating a frontend for a sales demo https://sylius-demo.bitbag.io/en_US/</li>
                                <li>Assistance in creating a shop for a Polish importer of mechanical parts.</li>
                                <li>Performing code review</li>
                                <li>Taking care of the high quality of the code, updating the libraries used in project.</li>
                                <li>Work in SCRUM methodology</li>
                            </ul>
                            <h4>Skills</h4>
                            <div class="skills"><span>HTML</span><span>CSS / SCSS</span><span>Javascript</span><span>Vue.js</span><span>PHP / Symfony</span><span>REST API</span><span>Git</span></div>
                        </div>
                    </div>
                </div>
                <div class="workplace">
                    <div class="dot"></div>
                    <div class="workplace__content">
                        <h3 class="workplace__title">Next GM</h3>
                        <p class="workplace__subtitle"><span>HTML Email Developer</span> | 2020-08 - 2021-01</p>
                        <div class="workplace__description">
                            <ul>
                                <li>Creating e-mail templates for a Canadian bank</li>
                                <li>Work in an international team consisting of Project Manager, Quality Assurance, Campaing Manager.</li>
                                <li>Introducing corrections to the existing e-mail templates in accordance with the client's orders</li>
                                <li>Training new people on Email Development.</li>
                                <li>Working with Jira, Acoustics.</li>
                            </ul>
                            <h4>Skills</h4>
                            <div class="skills"><span>HTML</span><span>CSS</span><span>Mailing Campanies</span><span>Jira</span><span>Acoustics</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>
<script setup></script>
