<template>
    <div class="header">
        <nav class="nav">
            <div class="logo">
                <svg width="472.55" height="50.344807088216584" viewBox="0 0 370.18518518518516 39.439004835602326" class="looka-1j8o68f">
                    <defs id="SvgjsDefs3718"></defs>
                    <g id="SvgjsG3719" featurekey="symbolFeature-0" transform="matrix(0.7081246979388605,0,0,0.7081246979388605,-3.2288885311620583,-13.55279855063135)" fill="#fff">
                        <g xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M29.15,30.386l3.266,5.079l-4.354,2.721c0.181,2.721,14.695,36.646,14.695,36.646L22.75,74.75l0.232-8.265l-1.452,3.811   l-0.906,4.536H4.66c-0.725-5.987,2.721-13.244,2.721-13.244c0.908-1.45,3.448-9.252,3.448-9.252c0-1.632,2.539-10.158,2.539-10.158   c0.363-0.907,1.815-5.442,1.815-5.442c1.269-6.531,4.717-6.712,4.717-6.712l13.605-4.172L29.15,30.386z"
                            ></path>
                            <path
                                d="M69.241,27.121l5.805,8.708l-4.172,2.54l4.899,1.996c0,0-9.071,24.49-18.323,34.469L76.625,74.5c0,0,0.6-7.47,2.231-11.097   c0,0-0.361,9.251,0.544,11.429h16.69c0,0-0.908-6.712-1.995-8.708c0,0-2.722-9.253-2.722-11.248c0,0-0.725-4.534-1.089-5.986   c0,0-2.722-13.968-4.353-14.512C85.933,34.377,71.419,26.939,69.241,27.121z"
                            ></path>
                            <path d="M43.12,19.501l-2.178,11.792l9.796-4.717C50.738,26.576,42.938,21.497,43.12,19.501z"></path>
                            <path d="M53.459,26.939c0,0,8.89,3.628,10.16,6.35c0,0,0.181-9.252-1.271-13.787C62.349,19.501,56.906,26.032,53.459,26.939z"></path>
                            <polyline points="48.924,28.572 52.008,27.302 55.273,28.935 54.366,33.651 50.557,33.651 49.105,29.297  "></polyline>
                            <polygon points="50.557,34.921 54.185,34.921 55.817,42.359 55.454,68.12 52.733,74.649 47.654,74.649 46.747,72.292    47.836,38.913  "></polygon>
                        </g>
                    </g>
                    <g id="SvgjsG3720" featurekey="nameFeature-0" transform="matrix(1.324155514695253,0,0,1.324155514695253,81.81898073324011,-14.569422299622628)" fill="#f5f5f5">
                        <path
                            d="M6.6406 23.984 l6.0742 0.000019073 c1.0547 0 1.9596 -0.3776 2.7148 -1.1328 c0.74219 -0.74219 1.1133 -1.6406 1.1133 -2.6953 c0 -1.0677 -0.37109 -1.9791 -1.1133 -2.7344 c-0.75521 -0.75521 -1.6602 -1.1328 -2.7148 -1.1328 l-6.0742 0 l0 7.6953 z M6.6406 40.000019073 l-4.2383 -0.000019073 l0 -27.949 l10.313 0 c2.2266 0 4.1275 0.79428 5.7031 2.3828 c1.5885 1.5755 2.3828 3.483 2.3828 5.7227 c0 2.2266 -0.79428 4.1275 -2.3828 5.7031 c-1.5755 1.5755 -3.4766 2.3633 -5.7031 2.3633 l-6.0742 0 l0 11.777 z M28.2422 23.984 l0 -7.6953 l6.0742 0 c1.0547 0 1.9596 0.3776 2.7148 1.1328 c0.74219 0.75521 1.1133 1.6667 1.1133 2.7344 c0 1.0547 -0.37109 1.9531 -1.1133 2.6953 c-0.75521 0.75521 -1.6602 1.1328 -2.7148 1.1328 l-6.0742 0 z M37.480000000000004 27.578 c1.4583 -0.625 2.6367 -1.6015 3.5352 -2.9297 c0.92447 -1.3542 1.3867 -2.8516 1.3867 -4.4922 c0 -2.2396 -0.79428 -4.1471 -2.3828 -5.7227 c-1.5755 -1.5885 -3.4766 -2.3828 -5.7031 -2.3828 l-10.313 0 l0 27.949 l4.2383 0 l0 -11.777 l4.7852 0 l6.1133 11.777 l4.7852 0 z M52.031275 18.945 c-1.9531 1.9531 -2.9297 4.31 -2.9297 7.0703 s0.97656 5.1172 2.9297 7.0703 s4.31 2.9297 7.0703 2.9297 s5.1172 -0.97656 7.0703 -2.9297 s2.9297 -4.31 2.9297 -7.0703 s-0.97656 -5.1172 -2.9297 -7.0703 s-4.31 -2.9297 -7.0703 -2.9297 s-5.1172 0.97656 -7.0703 2.9297 z M49.023475 36.0937 c-2.7865 -2.7865 -4.1797 -6.1459 -4.1797 -10.078 s1.3932 -7.2916 4.1797 -10.078 s6.1459 -4.1797 10.078 -4.1797 s7.2916 1.3932 10.078 4.1797 s4.1797 6.1459 4.1797 10.078 s-1.3932 7.2916 -4.1797 10.078 s-6.1459 4.1797 -10.078 4.1797 s-7.2916 -1.3932 -10.078 -4.1797 z M76.640675 12.050999999999998 l0 27.949 l4.2383 0 l0 -11.895 l7.7344 0 l0 -4.2383 l-7.7344 0 l0 -7.5781 l10.02 0 l0 -4.2383 l-14.258 0 z M98.574225 12.09 l-4.2383 0 l0 27.91 l4.2383 0 l0 -27.91 z M103.203175 12.050999999999998 l0 27.949 l14.258 0 l0 -4.2383 l-10.02 0 l0 -23.711 l-4.2383 0 z M120.859425 12.050999999999998 l0 27.949 l14.258 0 l0 -4.2383 l-10.02 0 l0 -7.6563 l7.7344 0 l0 -4.2383 l-7.7344 0 l0 -7.5781 l10.02 0 l0 -4.2383 l-14.258 0 z M154.14065 18.945 c-1.9531 1.9531 -2.9297 4.31 -2.9297 7.0703 s0.97656 5.1172 2.9297 7.0703 s4.31 2.9297 7.0703 2.9297 s5.1172 -0.97656 7.0703 -2.9297 s2.9297 -4.31 2.9297 -7.0703 s-0.97656 -5.1172 -2.9297 -7.0703 s-4.31 -2.9297 -7.0703 -2.9297 s-5.1172 0.97656 -7.0703 2.9297 z M151.13285 36.0937 c-2.7865 -2.7865 -4.1797 -6.1459 -4.1797 -10.078 s1.3932 -7.2916 4.1797 -10.078 s6.1459 -4.1797 10.078 -4.1797 s7.2916 1.3932 10.078 4.1797 s4.1797 6.1459 4.1797 10.078 s-1.3932 7.2916 -4.1797 10.078 s-6.1459 4.1797 -10.078 4.1797 s-7.2916 -1.3932 -10.078 -4.1797 z M194.84425 12.050999999999998 l0 19.98 l-11.934 -19.98 l-4.4336 0 l0 27.949 l4.2383 0 l0 -19.98 l11.953 19.98 l4.4336 0 l0 -27.949 l-4.2578 0 z M203.515675 12.050999999999998 l0 27.949 l14.258 0 l0 -4.2383 l-10.02 0 l0 -7.6563 l7.7344 0 l0 -4.2383 l-7.7344 0 l0 -7.5781 l10.02 0 l0 -4.2383 l-14.258 0 z"
                        ></path>
                    </g>
                </svg>
            </div>
            <div class="rightpanel">
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Skills</a></li>
                    <li><a href="">Experience</a></li>
                    <li><a href="">Education</a></li>
                    <li><a href="">Portfolio</a></li>
                </ul>
                <!-- <img src="@/assets/linkedin.png" alt="" />
                <img src="@/assets/github.png" alt="" /> -->
                <button class="btn btn-primary">Contact Me!</button>
                <div class="burger">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                </div>
            </div>
        </nav>
        <h1 class="header__title">Welcome to my <span>Personal&nbsp;AI</span>&nbsp;Assistant!</h1>
        <p class="header__description">
            I've trained an <span>AI model</span> with a wealth of information about my life, experiences, interests, and perspectives. This AI, a reflection of <span>my digital persona</span>, is
            here to interact with you, offering insights into who I am, what I believe in, and what I've achieved.
        </p>
        <div class="header__background" ref="header">
            <img src="@/assets/shades/shades-1.png" class="shades-1" alt="" />
            <img src="@/assets/shades/shades-2.png" class="shades-2" alt="" />
            <img src="@/assets/shades/shades-3.png" class="shades-3" alt="" />
            <img src="@/assets/shades/shades-4.png" class="shades-4" alt="" />
        </div>
        <Chatbox />
    </div>
</template>

<script setup>
import { useObserver } from "@/js/composables/useObserver";
import anime from "animejs/lib/anime.es.js";
import Chatbox from "@comp/Chatbox.vue";

const keyframes = [
    { translateY: -20, opacity: 0 },
    { translateY: 0, opacity: 1 },
];
const animationText = () => {
    const timeline = anime.timeline({
        delay: 0,
        easing: "linear",
    });
    timeline
        .add({
            targets: ".header__title",
            keyframes,
            duration: 1000,
            easing: "linear",
        })
        .add({
            targets: ".header__description",
            keyframes,
            duration: 700,
            delay: 200,
        });
    timeline.play();
};

useObserver(".header", animationText);
</script>
